@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    font-family: Roboto;
  }
  h2 {
    color: #00ff;
    font-size: 30px;
    padding-top: 15px;
  }
  i {
    font-size: 30px;
    margin: 20px;
  }
  p {
    text-align: start;
    font-size: 18px;
  }
  .container {
    background-color: rgb(204, 235, 245);
    /* display: grid; */
    grid-template-columns: 100%;
    padding: 10px 10px 10px 10px;
  }
  .container > div {
    outline: 30px #00ff solid;
  }
  /* Goals */
  .icon-flag-checkered {
    text-align: center;
  }
  .goals {
    margin-bottom: 40px;
  }
  .goalss {
    display: grid;
    grid-template-columns: 300px;
    padding: 0 20px 0 20px;
    text-align: start;
    /* text-align: center; */
    border-bottom: 1px dotted #817e7e8f;
    border-top: 1px dotted #817e7e8f;
  }

  .le {
    text-align: start;
    margin-top: -18px;
    margin-bottom: -10px;
  }
  /*  TEAM */
  .team {
    margin-bottom: 30px;
  }
  .icon-user {
    text-align: center;
    margin-bottom: -10px;
  }
  .info {
    padding: 0 30px;
    display: grid;
  }
  /* Scopes */

  .scopes {
    margin-bottom: 30px;
  }
  .up {
    text-transform: uppercase;
    font-size: 25px;
  }
  /* Primary */
  .primary {
    margin-bottom: 30px;
    text-align: start;
  }
  .primary p {
    margin-left: 15px;
  }
  .primary i {
    text-align: center;
    margin-top: 0px;
  }
  .timeline {
    display: grid;
  }

  .radius {
    width: 50px;
    height: 50px;
    background-color: rgb(188, 96, 224);
    border-radius: 50%;
    color: white;
    text-align: center;
    border: 1px solid #000;
    margin-top: 25px;
    margin-bottom: -18px;
  }
  .text {
    font-size: 25px;
    margin-top: 10px;
  }
  .h-border {
    border-bottom: 1px dotted rgb(73, 176, 218);
  }
  .margin-padding {
    /* margin: 0 15px 15px 15px; */
    padding: 0 15px 15px 15px;
  }
  .border {
    border-top: 1px dotted #817e7e8f;
  }
}
